<!DOCTYPE html>
<html lang="en">
<head th:include="header :: headerFragment">
</head>
<body>

<div class="includeBaseBody" th:replace="header :: bodyFragment"></div>

<div class="row mt-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Компоненты</h2>
            </div>
            <div class="card-body">
                <form th:action="@{/components}" method="get">
                    <div class="form-group">
                        <input type="text" id="searchKeyword" name="searchKeyword" class="form-control"
                               th:value="${searchKeyword}" placeholder="Введите запрос"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Поиск</button>
                </form>

                <table class="table mt-3">
                    <thead>
                    <tr>
                        <th>Код</th>
                        <th>Модель</th>
                        <th>Доступное кол-во</th>
                        <th>Цена</th>
                        <th></th>
                        <th>Кол-во в корзине</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="component : ${components}">
                        <td th:text="${component.sku}"></td>
                        <td th:text="${component.model}"></td>
                        <td th:text="${component.quantity}" th:id="'maxQuantity_' + ${component.id}"></td>
                        <td th:text="${component.price}"></td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary" th:onclick="'updateQuantity(\'DEC\', ' + ${component.id} + ') '">-</button>
                                <button type="button" class="btn btn-secondary" th:onclick="'updateQuantity(\'INC\', ' + ${component.id} + ') '">+</button>
                            </div>
                        </td>
                        <td>
                            <span th:id="'cartQuantity_' + ${component.id}" th:if="${cart[component.id] != null}" th:text="${(cart[component.id]).quantity}"></span>
                            <span th:id="'cartQuantity_' + ${component.id}" th:if="${cart[component.id] == null}">0</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function updateQuantity(action, componentId) {
        var currentQuantity = parseInt($('#cartQuantity_' + componentId).text());
        var maxQuantity = parseInt($('#maxQuantity_' + componentId).text());

        if (action === 'INC' && currentQuantity >= maxQuantity) {return;}

        $.ajax({
            type: 'POST',
            url: '/components/updateQuantity',
            data: { action: action, componentId: componentId },
            success: function(response) {
                $('#cartQuantity_' + componentId).text(response);
            },
            error: function(error) {
                console.log('Error:', error);
            }
        });
    }
</script>

</body>
</html>